.filter-bar{

    display:flex;

    gap:15px;

    align-items:center;

}

.filter-bar select{

    width:180px;

    padding:12px;

    border:1px solid #dbe4f0;

    border-radius:10px;

    background:white;

    outline:none;

    cursor:pointer;

    transition:.3s;

}

.filter-bar select:focus{

    border-color:#005EB8;

    box-shadow:0 0 8px rgba(0,94,184,.15);

}