.final-overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:6000;

}

.final-modal{

    width:900px;
    max-width:95%;

    background:white;

    border-radius:18px;

    overflow:hidden;

    animation:popup .25s;

}

.final-header{

    background:#005EB8;

    color:white;

    padding:20px 25px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.final-header button{

    background:none;
    border:none;

    color:white;

    font-size:22px;

    cursor:pointer;

}

.candidate-banner{

    background:#F5F8FC;

    padding:20px 25px;

}

.candidate-banner span{

    color:#64748B;

}

.final-body{

    padding:25px;

}

.field{

    margin-bottom:20px;

}

.field label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

    color:#003B75;

}

.field input,
.field select,
.field textarea{

    width:100%;

    padding:12px;

    border-radius:10px;

    border:1px solid #d9e2ec;

}

.employee-list{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:10px;

}

.employee-list label{

    display:flex;

    gap:10px;

    align-items:center;

    font-weight:500;

}

.two-column{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

}

.final-footer{

    display:flex;

    justify-content:flex-end;

    padding:20px 25px;

}

.schedule-final-btn{

    background:#005EB8;

    color:white;

    border:none;

    padding:14px 28px;

    border-radius:10px;

    cursor:pointer;

}

.schedule-final-btn:hover{

    background:#003B75;

}