.employees-page{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.employees-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.employees-header input{

    width:280px;

    padding:10px;

    border:1px solid #ddd;

    border-radius:8px;

}

.employee-table{

    width:100%;

    border-collapse:collapse;

}

.employee-table th{

    background:#2563EB;

    color:white;

    padding:14px;

}

.employee-table td{

    padding:14px;

    border-bottom:1px solid #eee;

}

.employee-table tr:hover{

    background:#f8fafc;

}

.status{

    padding:6px 12px;

    border-radius:20px;

    color:white;

    font-size:13px;

}

.available{

    background:#16A34A;

}

.busy{

    background:#EA580C;

}